[Unit]
Description=NetLDI Service for GemStone/S 64 Bit
Documentation=https://gemtalksystems.com/products/gs64/

[Service]
ExecStart=netldid -g -a gemstone -n -N -D /var/log/gemstone -l /var/log/gemstone/gs64ldi.log gs64ldi
ExecStop=stopnetldi gs64ldi
User=gemstone
Group=gemstone
TimeoutSec=15

[Install]
WantedBy=multi-user.target
