[Unit]
Description=GemStone/S 64 Bit
Documentation=https://gemtalksystems.com/products/gs64/
After=systemd-user-sessions.service
After=network-online.target

[Service]
Environment=GEMSTONE=/usr/lib/gemstone/VERSION GEMSTONE_GLOBAL_DIR=/var/lib/gemstone
ExecStart=stoned -e /etc/gemstone/gs64stone.conf -l /var/log/gemstone/gs64stone.log -z /etc/gemstone/system.conf gs64stone
ExecStop=PASSWORD=`cat /etc/gemstone/password`; stopstone -i gs64stone DataCurator $PASSWORD
User=gemstone
Group=gemstone
TimeoutSec=60

[Install]
WantedBy=multi-user.target
